@use "../../../../style/App.scss";
@use "../../../../style/bace/media" as *;
@use "../../../../style/bace/variable" as *;

label {
    @include laptop() {
        color: #14171A;
    }
}

.pop-up {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background-image: var(--linear-gradient);
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
    transition: 0.4s;

    &__close {
        position: fixed;
        top: 50px;
        left: 80px;
        color: var(--white);

        @include tabs() {
            top: 50px;
            left: 40px;
        }

        @include mobile() {
            left: 20px;
        }
    }

    .block {
        width: 32%;
        min-width: 600px;

        &-header {
            display: flex;
            flex-direction: column;
            row-gap: 24px;
            align-items: center;
            padding-block: 20px;
            background-color: #14171A;
            color: var(--white);

            &__title {
                font-size: 36px;

                @include laptop() {
                    font-size: 32px;
                }
            }

            &__text {
                .button {
                    display: inline;
                    color: var(--light-gray);
                    text-decoration: underline;
                    transition: 0.4s;

                    @include hover() {
                        color: var(--white);
                        text-decoration: none;
                        
                    }
                }
            }
        }

        &-body {
            background-color: var(--white);

            .form-password {
                .forgo-password {
                    display: flex;
                    justify-content: flex-end;
                }
                
            }
        }

        @include laptop() {
            width: 60%;
            min-width: 390px;
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: painted;
    }
}